<h1 class="title">Users</h1>
<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>
            @user.FirstName @user.LastName
            <a class="button" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
            <a class="button is-danger" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete @user.FirstName @user.LastName?')">Delete</a>
        </li>
    }
</ul>
<a asp-controller="Users" asp-action="Add" class="button is-primary">Add User</a>