<h1 class="heading">Users</h1>
<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>@user.FirstName @user.LastName
        <a asp-controller="Users" asp-action="Edit" class="button is-primary" asp-route-userId="@user.Id">Edit User</a>
        <a class="button is-danger" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete @user.FirstName @user.LastName?')">Delete</a></li>
    }
</ul>
<br />

<a asp-controller="Users" asp-action="Add" class="button is-primary">Add User</a>